<!DOCTYPE html>
<html lang="en">
 

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Algorithmic Bias</title>
    
    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}">
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../static/css/grayscale.min.css" rel="stylesheet">

    <!-- Temporary navbar container fix until Bootstrap 4 is patched -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/about">About</a>
                    </li>
                    <li role="presentation"><a href="/blog">Blog</a>
                    </li>
                </ul>
            </nav>
            <h1 class="text-muted">Machine Bias</h1>
        </div>
 
        <div class="jumbotron">
            <h3>Recidivism Prediction</h3>
            <p class="lead"></p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Feature Questions</h4>
		<p class="question">1. What is your gender?</p>
		<ul class="answers">
		<input type="radio" name="gender" value="male" id="q1a"><label for="q1a">Male</label><br/>
		<input type="radio" name="gender" value="female" id="q1b"><label for="q1b">Female</label><br/>
		</ul>
		<p class="question">2. What race do you identify as?</p>
                <ul class="answers">
                <input type="radio" name="race" value="White" id="q2a"><label for="q2a">White</label><br/>
                <input type="radio" name="race" value="Black" id="q2b"><label for="q2b">Black</label><br/>
                <input type="radio" name="race" value="Hispanic" id="q2c"><label for="q2c">Hispanic</label><br/>
                <input type="radio" name="race" value="N. American Indian" id="q2d"><label for="q2d">N. American Indian</label><br/>
                <input type="radio" name="race" value="Asian/Pacific Islander" id="q2e"><label for="q2e">Asian/Pacific Islander</label><br/>
                <input type="radio" name="race" value="Other" id="q2f"><label for="q2f">Other</label><br/>
		</ul>
		<div class="form-group">
          <p class="form-control-static">3. How old are you:</p>
        </div>
        <div class="form-group">
          <input class="form-control" id="age"></input>
        </div>
		<div>
		 <button type="button" id="calculate">Calculate Your Predicted Recidivism!</button>
		 </div>
		</div>
        </div>
 
        <footer class="footer">
            <p> Copyright &copy; Rebecca Njeri 2017</p>
        </footer>
 
    </div>
    
 <p> Your predicted recidivism is: <span id="solution"></span> </p>
 <p> In an alternate life, this would be your predicted recidivism: <span id="solutionb"></span> </p>
    
</body>
 
</html>
