<!DOCTYPE html>
<html>
<head>
<title>
About Machine Bias
</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>

<p> This project has two scopes. The first one is to arrive at an estimate of the true cost of incarceration, and the second is to come up with a precise and sensitive way to predict recidivism. The end goal is to create a cost benefit analysis for the Post Prison Education Program that shows how investment in PPEP could ultimately lower the total cost of incarceration by lowering recidivism rates, but also by providing skills and social networks that are lost while one is incarcerated.

Recidivism prediction is not a new field of study. There are researchers who have developed risk assessment tools that estimate the probability that a person will reoffend. These tools are used at all levels of the justice system from pre-trial to sentensing. However, a study by prorepublica found that while these models have an accuracy score of 71%, they output a lot higher False Positives for African Americans and False Negatives for whites when it comes to prediciting the likelihood of someone to commit a violent crime in the future. The prorepublica study found that the model has a lot more false positives, 44.9% for African Americans, compared to 23.5% for whites. At the same time, the algorithm has a 47.7% False Negative rate for whites compared to a 28.0% False Negative rate for blacks.

Use of a faulty algorithm in the justice system results in a misallocation of resources by identifying as high risk people who aren nott high risk and vice versa.

Can an algorithm that predicts recidivism and risk levels with higher precision and recall be built?
</p>

</body>
</html>

