<html lang="en">
 
<head>
    <title>Machine Bias</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h1 class="text-muted">Machine Bias</h1>
        </div>
 
        <div class="jumbotron">
            <h3>Recidivism Prediction</h3>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Calculate Your Predicted Recidivism</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Feature Questions</h4>
		<p class="question">1. What is your gender?</p>
		<ul class="answers">
		<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Male</label><br/>
		<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Female</label><br/>
		</ul>
		<p class="question">2. What is your education level?</p>
                <ul class="answers">
                <input type="radio" name="q1" value="a" id="q1a"><label for="q1a">College Degree</label><br/>
                <input type="radio" name="q1" value="b" id="q1b"><label for="q1b">High School Diploma</label><br/>
		<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">GED</label><br/>
                <input type="radio" name="q1" value="b" id="q1b"><label for="q1b">8th Grade</label><br/>
                </ul>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Rebecca Njeri 2017</p>
        </footer>
 
    </div>
</body>
 
</html>
