<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Machine Bias</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/about">About</a>
                    </li>
                </ul>
            </nav>
            <h1 class="text-muted">Machine Bias</h1>
        </div>
 
        <div class="jumbotron">
            <h3>Recidivism Prediction</h3>
            <p class="lead"></p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Feature Questions</h4>
		<p class="question">1. What is your gender?</p>
		<ul class="answers">
		<input type="radio" name="gender" value="male" id="q1a"><label for="q1a">Male</label><br/>
		<input type="radio" name="gender" value="female" id="q1b"><label for="q1b">Female</label><br/>
		</ul>
		<p class="question">2. What is your education level?</p>
                <ul class="answers">
                <input type="radio" name="education" value="College Degree" id="q2a"><label for="q2a">College Degree</label><br/>
                <input type="radio" name="education" value="High School Diploma" id="q2b"><label for="q2b">High School Diploma</label><br/>
		<input type="radio" name="education" value="GED" id="q2c"><label for="q2c">GED</label><br/>
                <input type="radio" name="education" value="8th Grade" id="q2d"><label for="q2d">8th Grade</label><br/>
                </ul>
		<p class="question">3. What race do you identify as?</p>
                <ul class="answers">
                <input type="radio" name="race" value="African American" id="q3a"><label for="q3a">African American</label><br/>
                <input type="radio" name="race" value="Caucasian" id="q3b"><label for="q3b">Caucasian</label><br/>
                <input type="radio" name="race" value="Hispanic" id="q3c"><label for="q3c">Hispanic</label><br/>
                <input type="radio" name="race" value="Asian" id="q3d"><label for="q3d">Asian</label><br/>
		</ul>
           	 <p class="question">4. How old are you?</p>
		<form> Age<br> <input type="int" name="age"><br></form>
		<button type="button" id="solve">Calculate!</button>
		</div>
        </div>
 
    </div>

<script type="text/javascript">

let get_responses = function() {
  let gender = document.querySelector('input[name = "gender"]:checked').value
  let education = document.querySelector('input[name = "education"]:checked').value
  let race = document.querySelector('input[name = "race"]:checked').value
 	let age = $("input#age").val()
    return {
      {'gender': gender,
      'education': education,
      'race':race,
		  'age': parseInt(age)
}
};

let send_responses_json = function(responses) {
    $.ajax({
        url: '/calculate',
        contentType: "application/json; charset=utf-8",
        type: 'POST',
        success: function (data) {
            display_solutions(data);
        },
        data: JSON.stringify(responses)
    });
};

$(document).ready(function() {
    $("button#calculate").click(function() {
        let reponses = get_responses()
        send_responses_json(responses);
    })
})

</script>
</body>
 
</html>
